

<div class="button-box col-lg-12 btn btn-success" style="text-align:center" >
    <h1>See our<a  asp-controller="Product" asp-action="Index">Shop &raquo;</a></h1>


</div>

@section Scripts {

    <script type="text/javascript">
        window.onload = function () {
            swal("Order Sent!", "Thank you for shopping with us", "success");
        };
    </script>

}








