@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Papers</h1>

</div>
<div>
    <p style="font-size: 16px;  width: 500px; margin: auto">
        Papers is stationery shop that sells everything you for school, office and business.
        We have a wide range of products. It was founded 2016 and it saw an immense growth for last 7 years.
        See our  <a asp-controller="Product" asp-action="Index">Shop &raquo;</a>
    </p>
</div>


<div class="text-center">

    <img src="~/Images/stationery.JPG" style="height:400px; width:800px" />

</div>